[
  {rabbit, [
    {loopback_users, []},
    {auth_backends, [rabbit_auth_backend_http]}
  ]},
  {rabbitmq_mqtt, [
    {default_user, <<"__VHOST_DEFAULT_USERNAME__">>},
    {default_pass, <<"__VHOST_DEFAULT_PASSWORD__">>},
    {allow_anonymous, true},
    {vhost, <<"/">>},
    {exchange, <<"messages">>},
    {subscription_ttl, 60000},
    {prefetch, 10},
    {ssl_listeners, []},
    {tcp_listeners, [1883]},
    {tcp_listen_options, [
      {backlog, 128},
      {nodelay, true}
    ]}
  ]},
  {rabbitmq_management, [
    {load_definitions, <<"/etc/rabbitmq/definitions.json">>}
  ]},
  {rabbitmq_auth_backend_http, [
    {http_method,   post},
    {user_path,     "http://__IO_BARRACKS_RABBITMQAUTHSERVICE_BASE_URL__/auth/user"},
    {vhost_path,    "http://__IO_BARRACKS_RABBITMQAUTHSERVICE_BASE_URL__/auth/vhost"},
    {resource_path, "http://__IO_BARRACKS_RABBITMQAUTHSERVICE_BASE_URL__/auth/resource"},
    {topic_path,    "http://__IO_BARRACKS_RABBITMQAUTHSERVICE_BASE_URL__/auth/topic"}
  ]}
].